* {
    box-sizing: border-box;
}

:root {
    --clr-light: #fff;
    --clr-accent: #55aadc;

    --ff-primary: Montserrat;

    --fc-primary: #fff;
    --fc-gray: #b0b0b0;

    --fw-reg: 400;
    --fw-bold: 700;

    --fs-h1: 1.5rem;
    --fs-h2: 1rem;
    --fs-p: 0.75rem;
}

body {
    min-width: 300px;
    margin: 0;
    padding: 0;

    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    color: var(--fc-primary);
}

/* Navbar */
.nav {
    height: 60px;
    display: flex;
    justify-content: center;

    background: var(--clr-accent);
}

.nav__img {
    margin-block: 5px;
    margin-left: auto;
}

.nav__title {
    margin-block: auto;
    margin-left: 10px;
    margin-right: auto;

    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

/* Main */
.idea__container {
    width: 90%;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}

.idea__line {
    display: flex;
    align-items: start;
}

.idea__number {
    color: black;
    width: 100%;
    width: 10px;
    margin-block: 10px;
    margin-right: 20px;

    font-size: var(--fs-h2);
    color: var(--fc-gray);
}

.idea__input {
    min-height: 20px;
    max-height: 100px;
    width: 100%;
    margin-block: 5px;
    margin-right: 0;
    padding: 5px;
    resize: none;
    overflow: scroll;

    border: none;
    border-radius: 5px;
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    color: var(--fc-gray);
    box-shadow: none;
}

.idea__input:active, .idea__input:focus {
    outline: none !important;
    color: var(--clr-accent);
    box-shadow: 0 1px 2px var(--fc-gray);
}

::selection {
    background: var(--clr-accent);
    color: var(--fc-primary);
}

@media (min-width: 1000px) {
    .idea__container {
        max-width: 900px;
    }

    .nav__img {
        margin-left: 360px;
    }

    .nav__title {
        margin-right: auto;
    }
}